<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>survey/answer</title>
        <link rel="stylesheet" href="../styles/answer.css">

        <!-- шрифты -->

        <script defer src="../scripts/"></script>
    </head>

    <body>

        <header class="header__container">

            <ul class="header__list">

                <li class="list__element">
                    <p class="element">User.name</p>
                </li>

                <li class="list__element">
                    <p class="element">Questions</p>
                </li>

                <li class="list__element">
                    <button class="header__button"><a class="element__reg" href="../templates/listOfQuestionnaires.html">Back</a></button>
                </li>

                <li class="list__element">
                    <button class="header__button"><a class="element__reg" href="../templates/logInToTheSystem.html">Logout</a></button>
                </li>
            
            </ul>

        </header>


        <form action="#" method="post" class="form" id="form">

            <h1 class="form__title">Questionnaires.number</h1>

            
            <div class="form__group__text">
                <h2 class="group__name">Question.number</h2>
                <input tabindex="1" type="text" class="form__input" placeholder="Your answer">
            </div>

            
            <div class="form__group__radio">

                <h2 class="group__name">Question.number</h2>

                <div class="name__radio">

                    <div class="radio__values">
                        Variant №1
                        <input checked tabindex="2" type="radio" value="1" name="nameradio" class="form__input" placeholder="Your answer">
                    </div>

                    <div class="radio__values">
                        Variant №2
                        <input tabindex="3" type="radio" value="2" name="nameradio" class="form__input" placeholder="Your answer">
                    </div>
                    
                    <div class="radio__values">
                        Variant №3
                        <input tabindex="4" type="radio" value="3" name="nameradio" class="form__input" placeholder="Your answer">
                    </div>
                   
                </div>

            </div>


            <div class="form__check__box">

                <h2 class="group__name">Question.number</h2>

                <div class="input__check__box">

                    <div class="checkbox">
                        1
                        <input checked tabindex="5" type = 'checkbox' name="checkbox1">
                    </div>

                    <div class="checkbox">
                        2
                        <input tabindex="6" type = 'checkbox' name="checkbox2">
                    </div>

                    <div class="checkbox">
                        3
                        <input tabindex="7" type = 'checkbox' name="checkbox3">
                    </div>
    
                    <div class="checkbox">
                        4
                        <input tabindex="8" type = 'checkbox' name="checkbox4">
                    </div>
    
                 </div>
                
            </div>

        </form>

    </body>

</html>
