<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>survey/questionnaries</title>
        <link rel="stylesheet" href="../styles/list_questionnaires.css">

        <!-- шрифты -->
    </head>

    <body>

        <header class="header__container">

            <ul class="header__list">

                <li class="list__element">
                    <p class="element" id="user__email"></p>
                </li>

                <li class="list__element">
                    <p class="element">List of questionnaires</p>
                </li>

                <li class="list__element">
                    <a class="element__reg" href="../logInToTheSystem.html">Logout</a>
                </li>
                
            </ul>

        </header>


        <div class="box">


        <ul class="list__questionnaire">

            <li class="questionnaire">
                <a class="questionnaire__url" href="../templates/questions.html">Questionnaire 1</a>
                <p class="questionnaire__status">status</p>
                <a class="questionnaire__answer" href="../templates/answer.html" >u.answer</a>
            </li>

            <li class="questionnaire">
                <a class="questionnaire__url" href="../templates/questions.html">Questionnaire 2</a>
                <p class="questionnaire__status__passed">passed</p>
                <a class="questionnaire__answer" href="../templates/answer.html" >u.answer</a>
            </li>

            <li class="questionnaire">
                <a class="questionnaire__url" href="../templates/questions.html">Questionnaire 3</a>
                <p class="questionnaire__status__not__passed">not passed</p>
                <a class="questionnaire__answer__noactive">u.answer</a>
            </li>

            <li class="questionnaire">
                <a class="questionnaire__url" href="../templates/questions.html">Questionnaire 4</a>
                <p class="questionnaire__status__not__passed">not passed</p>
                <a class="questionnaire__answer__noactive">u.answer</a>
            </li>

            <li class="questionnaire">
                <a class="questionnaire__url" href="../templates/questions.html">Questionnaire 5</a>
                <p class="questionnaire__status__not__passed">not passed</p>
                <a class="questionnaire__answer__noactive">u.answer</a>
            </li>

        </ul>


        </div>

        <script src="../scripts/list_questionary.js"></script>

    </body>

</html>
