<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>survey/questionnaries</title>
        <link rel="stylesheet" href="../styles/list_questionnaires.css">

        <!-- шрифты -->

        <script defer src="../scripts/"></script>
    </head>

    <body>

        <header class="header__container">

            <ul class="header__list">

                <li class="list__element">
                    <p class="element">User.name</p>
                </li>

                <li class="list__element">
                    <p class="element">List of questionnaires</p>
                </li>

                <li class="list__element">
                    <button class="header__button"><a class="element__reg" href="../templates/logInToTheSystem.html">Logout</a></button>
                </li>
                
            </ul>

        </header>


        <div class="box">


        <ul class="list__questionnaire">

            <li class="questionnaire">
                <button class="questionnaire__button"><a class="questionnaire__url" href="../">Questionnaire 1</a></button>
                <p class="questionnaire__status">status</p>
            </li>

            <li class="questionnaire">
                <button class="questionnaire__button"><a class="questionnaire__url" href="../">Questionnaire 2</a></button>
                <p class="questionnaire__status">status</p>
            </li>

            <li class="questionnaire">
                <button class="questionnaire__button"><a class="questionnaire__url" href="../">Questionnaire 3</a></button>
                <p class="questionnaire__status">status</p>
            </li>

            <li class="questionnaire">
                <button class="questionnaire__button"><a class="questionnaire__url" href="../">Questionnaire 4</a></button>
                <p class="questionnaire__status">status</p>
            </li>

            <li class="questionnaire">
                <button class="questionnaire__button"><a class="questionnaire__url" href="../">Questionnaire 5</a></button>
                <p class="questionnaire__status">status</p>
            </li>

        </ul>


        </div>

    </body>

</html>
