<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>survey/questions</title>
        <link rel="stylesheet" href="../styles/questions.css">

        <!-- шрифты -->

    </head>

    <body>

        <header class="header__container">

            <ul class="header__list">

                <li class="list__element">
                    <p class="element">User.name</p>
                </li>

                <li class="list__element">
                    <p class="element">Questions</p>
                </li>

                <li class="list__element">
                    <a class="element__reg" href="../templates/listOfQuestionnaires.html">Back</a>
                </li>

                <li class="list__element">
                    <a class="element__reg" href="../logInToTheSystem.html">Logout</a>
                </li>
            
            </ul>

        </header>


        <form action="../templates/formHasBeenSent.html" method="GET" class="form" id="form__button__send">

            <h1 class="form__title">Questionnaires.number</h1>

            
            <div class="form__group__text">
                <h2 class="group__name">Question.number</h2>
                <input tabindex="1" type="text" id="answer__one" class="form__input" placeholder="Your answer">
            </div>

            
            <div class="form__group__radio">

                <h2 class="group__name">Question.number</h2>

                <div class="name__radio">

                    <div class="radio__values">
                        Variant №1
                        <input tabindex="2" type="radio" id="answer__two" value="1" name="nameradio" class="form__input" placeholder="Your answer">
                    </div>

                    <div class="radio__values">
                        Variant №2
                        <input tabindex="3" type="radio" id="answer__three" value="2" name="nameradio" class="form__input" placeholder="Your answer">
                    </div>
                    
                    <div class="radio__values">
                        Variant №3
                        <input tabindex="4" type="radio" id="answer__four" value="3" name="nameradio" class="form__input" placeholder="Your answer">
                    </div>
                   
                </div>

            </div>


            <div class="form__check__box">

                <h2 class="group__name">Question.number</h2>

                <div class="input__check__box">

                    <div class="checkbox">
                        1
                        <input tabindex="5" type = 'checkbox' id="answer__five" name="checkbox1">
                    </div>

                    <div class="checkbox">
                        2
                        <input tabindex="6" type = 'checkbox' id="answer__six" name="checkbox2">
                    </div>

                    <div class="checkbox">
                        3
                        <input tabindex="7" type = 'checkbox' id="answer__seven" name="checkbox3">
                    </div>
    
                    <div class="checkbox">
                        4
                        <input tabindex="8" type = 'checkbox' id="answer__eight" name="checkbox4">
                    </div>
    
                 </div>
                
            </div>

            <button tabindex="9" class="form__button" id="button"><a class="button__login">Send</a></button>

        </form>

        <script src="../scripts/button_send.js"></script>

    </body>

</html>
