<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>survey/registration</title>
        <link rel="stylesheet" href="../styles/registration.css">

        <!-- шрифты -->
    </head>

    <body>

        <header class="header__container">

            <ul class="header__list">

                <li class="list__element">
                    <p class="element">The questionnaire system</p>
                </li>

                <li class="list__element">
                    <a class="element__reg" href="../logInToTheSystem.html">Login</a>
                </li>
                
            </ul>

        </header>


        <div class="box">
            
            <form class="form" action="../templates/listOfQuestionnaires.html" method="GET" id="form__reg">

                <h1 class="form__title">Registration</h1>

                <div class="form__group">
                    <input type="email"  id="email__reg" class="form__input" placeholder=" ">
                    <label class="form__label">Email</label>
                </div>

                <div class="form__group">
                    <input type="password" id="password__reg" class="form__input" placeholder=" ">
                    <label class="form__label">Password</label>
                </div>

                <div class="form__group">
                    <input type="password" id="password__reg__again" class="form__input" placeholder=" ">
                    <label class="form__label">Repeat password</label>
                </div>

                <button class="form__button"><a class="button__register">Register</a></button>

            </form>

        </div>

        <script src="../scripts/registration.js"></script>

    </body>

</html>
