<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>survey/registration</title>
        <link rel="stylesheet" href="../styles/registration.css">

        <!-- шрифты -->

        <script defer src="../scripts/"></script>
    </head>

    <body>

        <header class="header__container">

            <ul class="header__list">

                <li class="list__element">
                    <p class="element">The questionnaire system</p>
                </li>

                <li class="list__element">
                    <button class="header__button"><a class="element__reg" href="../templates/logInToTheSystem.html">Login</a></button>
                </li>
                
            </ul>

        </header>


        <div class="box">

            <form class="form">

                <h1 class="form__title">Registration</h1>

                <div class="form__group">
                    <input class="form__input" placeholder=" ">
                    <label class="form__label">Email</label>
                </div>

                <div class="form__group">
                    <input type="password" class="form__input" placeholder=" ">
                    <label class="form__label">Password</label>
                </div>

                <div class="form__group">
                    <input type="password" class="form__input" placeholder=" ">
                    <label class="form__label">Repeat password</label>
                </div>

                <button class="form__button"><a class="button__register" href="../templates/listOfQuestionnaires.html">Register</a></button>

            </form>

        </div>

    </body>

</html>
