*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Lato, sans-serif;
    background: #F7F9FC;
}

.header__container{
    padding: 20px 16px;
    margin: 0 auto;
    position: relative;
    display: flex;
    max-width: 956px;
    width: auto;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.header__list{
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.element{
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #0071f0;
    letter-spacing: 1px;
    font-weight: bold;
    white-space: nowrap;
}


.element__reg{
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #0071f0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 1px;
}


.element__reg:hover{
    background-color: rgba(0, 113, 240, 0.7);
}

.form__title{
    padding-bottom: 20px;
    margin: 0 auto;

}

.form{
    padding: 80px 0 70px 0;
    border-bottom: 5px solid  rgba(7, 114, 237, 0.7);
    border-top: 5px solid  rgba(7, 114, 237, 0.7);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 67px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 16px #CCC;
   
}

.form__group__text{
    display: flex;
    margin: 0 auto;
    gap: 300px;
}

.group__name{
    margin: 0 auto;
}

.form__group__radio{
    display: flex;
    margin: 0 auto;
    gap: 348px;
}

.name__radio{
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.form__check__box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 280px;
}

.input__check__box{
    display: flex;
    gap: 20px;
}

